<div class="flex items-center justify-center min-h-screen bg-gray-200 p-4">
  <div class="bg-white rounded-lg shadow-xl py-16 px-8 w-full max-w-sm md:max-w-lg lg:max-w-xl">
    <div class="flex justify-center mb-4">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
        alt="WhatsApp Logo"
        class="w-12 h-12 md:w-14 md:h-14"
      />
    </div>
    <p class="text-center text-gray-500 mb-2 text-sm md:text-base">
      Silahkan Salin Nomor WhatsApp Dibawah Ini
    </p>
    <div class="flex items-center justify-center bg-gray-100 p-3 rounded-lg mb-4">
      <span class="text-2xl md:text-4xl font-bold text-gray-800">0857 2927 2228</span>
    </div>
    <div class="flex justify-center">
      <button
      (click)="copyToClipboard()"
      class="bg-gray-300 hover:bg-green-400 text-gray-800 text-lg md:text-xl font-semibold py-2 px-6 rounded-full"
    >
      {{ copied ? 'No Whatsapp Tersalin' : 'Salin No Whatsapp' }}
    </button>
    </div>
    
  </div>
</div>
